.Dashboard {
    height: 100vh;
    display: flex;

    .sidePanel {
        background: rgb(230, 230, 230);
        padding: 20px;

        h2 {
            margin-bottom: 20px;
        }

        .pages {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .page {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                &.active {
                    background: var(--brand);
                }
            }
        }
    }

    .mainPanel {
        padding: 20px;
    }
}

.DashHome {
    .indicator {
        background: var(--danger);
        display: flex;
        width: max-content;
        padding: 5px 15px;
        border-radius: 999px;
        color: white;
        font-size: .7rem;

        &.verified {
            background: var(--brand);
        }
    }
}