@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// Variables
:root {
    --brand: #7277D6;
    --brand-dark: #6367b4;
    --danger: #ee5252;
    --passive: #939393;
    --surface-0: #ededed;
    --surface-1: white;
    --disabled: rgb(172, 172, 172);

    --radius: 12px;
    --border: 1px solid #D6D6D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
}

button {
    background: var(--brand);
    border: 2px solid var(--brand);
    color: white;
    font-size: 1rem;
    border-radius: var(--radius);
    cursor: pointer;

    &:hover {
        background: var(--brand-dark);
    }

    &:disabled {
        color: white;
        background: var(--passive);
        border: 2px solid var(--passive);
        pointer-events: none;
        user-select: none;
    }
}